<% provide(:title, "My Page") %>
    <h3 class="explain-header"><font face="Impact">MY PAGE</font></h3>
</header>
<div class="wrapper">
    <div class="mypage">
      <%= link_to("ログイン","/login") %>
      <div class="mypage-header">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVNTJ8Hp5u_7O8t8EEdYjsso6ZpI5cx7Sz9Dy_wKTdSchGOXiH">
        <div class="now_point">
          <div class="point"><li>ポイント</li><p>300pt</p></div>
          <div class="point"><li>出題数</li><p>27問</p></div>
          <div class="point"><li>回答数</li><p>105問</p></div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="mypage-select">
        <li><a href="">お気に入り</a></li>
        <li><a href="">出題問題</a></li>
        <li><a href="">答えた問題</a></li>
      </div>
      <div class="clear"></div>
      <div class="favorites">
        <article class="quiz">
          <a href="">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVNTJ8Hp5u_7O8t8EEdYjsso6ZpI5cx7Sz9Dy_wKTdSchGOXiH">
          <h4>Mr.マリック</h4>
          </a>
          <a href="./quizes/quiz00000001.html">
            <p>ボールペンと消しゴムの値段は合わせて110円。<br>
              ボールペンは消しゴムより100円高い。<br>
              では、消しゴムの値段は？</p>
            <button type="button" name="button">
              <a href="../hints/hint00000001.html">ヒント</a>
            </button>
            <time>2019/08/20</time>
            <span>論理</span>
            <div class="clear"></div>
          </a>
        </article>
          <article class="quiz">
            <a href="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVNTJ8Hp5u_7O8t8EEdYjsso6ZpI5cx7Sz9Dy_wKTdSchGOXiH">
            <h4>Mr.マリック</h4>
            </a>
            <a href="./quizes/quiz00000001.html">
              <p>ボールペンと消しゴムの値段は合わせて110円。<br>
                ボールペンは消しゴムより100円高い。<br>
                では、消しゴムの値段は？</p>
              <button type="button" name="button">
                <a href="../hints/hint00000001.html">ヒント</a>
              </button>
              <time>2019/08/20</time>
              <span>論理</span>
              <div class="clear"></div>
            </a>
          </article>
            <article class="quiz">
              <a href="">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVNTJ8Hp5u_7O8t8EEdYjsso6ZpI5cx7Sz9Dy_wKTdSchGOXiH">
              <h4>Mr.マリック</h4>
              </a>
              <a href="./quizes/quiz00000001.html">
                <p>ボールペンと消しゴムの値段は合わせて110円。<br>
                  ボールペンは消しゴムより100円高い。<br>
                  では、消しゴムの値段は？</p>
                <button type="button" name="button">
                  <a href="../hints/hint00000001.html">ヒント</a>
                </button>
                <time>2019/08/20</time>
                <span>論理</span>
                <div class="clear"></div>
              </a>
            </article>
              <article class="quiz">
                <a href="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVNTJ8Hp5u_7O8t8EEdYjsso6ZpI5cx7Sz9Dy_wKTdSchGOXiH">
                <h4>Mr.マリック</h4>
                </a>
                <a href="./quizes/quiz00000001.html">
                  <p>ボールペンと消しゴムの値段は合わせて110円。<br>
                    ボールペンは消しゴムより100円高い。<br>
                    では、消しゴムの値段は？</p>
                  <button type="button" name="button">
                    <a href="../hints/hint00000001.html">ヒント</a>
                  </button>
                  <time>2019/08/20</time>
                  <span>論理</span>
                  <div class="clear"></div>
                </a>
              </article>
                <article class="quiz">
                  <a href="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVNTJ8Hp5u_7O8t8EEdYjsso6ZpI5cx7Sz9Dy_wKTdSchGOXiH">
                  <h4>Mr.マリック</h4>
                  </a>
                  <a href="./quizes/quiz00000001.html">
                    <p>ボールペンと消しゴムの値段は合わせて110円。<br>
                      ボールペンは消しゴムより100円高い。<br>
                      では、消しゴムの値段は？</p>
                    <button type="button" name="button">
                      <a href="../hints/hint00000001.html">ヒント</a>
                    </button>
                    <time>2019/08/20</time>
                    <span>論理</span>
                    <div class="clear"></div>
                  </a>
                </article>
      </div>

    </div>
    </div>
  </div>
