// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* #wrapper */
.wrapper{
  padding-bottom: 40px;
  padding-top: 80px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  overflow: scroll;
  position:relative;
}



/* posts/index ================================ */
.posts-index-item {
  padding: 10px 30px 0;
  background-color: white;
  overflow: hidden;
  // box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  // box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

.answered{
  height: 24px;
  width: 60px;
  border-radius: 5px;
  color:white;
  text-align: center;
  margin-left: 10px;
}

.notyet{
  background-color: blue;
}

.already{
  background-color: red;
}

/* posts/show ================================ */
.mypage img{
  border-radius: 50%;
  width:40px;
}

.posts-show form {
  display: inline;
}

.posts-show-item {
  // padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item img {
  // width: 60px;
  // height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
  font-size: 15px;
  float:right;
  padding: 0 5px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

.post-left{
  float: left;
  height: 30px;
  width: 100%;
}

.post-left img{
  float: left;
  border-radius: 50%;
  width: 40px;
}

.user_name{
  line-height: 40px;
  margin-left: 70px;
}

/* posts/new ================================ */
.posts-new{
  height:100%;
}

.posts-new form{
  height:100%;
}

.quiz-answer textarea,
.quiz-hint textarea,
.quiz-sentence textarea{
  font-size: 20px;
  padding: 10px;
  min-height: 110px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
  height:100%;
  width:100%;
}

.form textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}



// .form-body{
//   height: 70px;
// }

// .form-hint{
//   height: 50px;
//   margin-top: 20px;
// }

.quiz-sentence,
.quiz-hint, .quiz-answer{
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 30px;
  float: left;
  margin-left: 20px;
  width:80%;
}

.post-new-btn{
  // bottom: 0;
  // right: 0;
  height: 30px;
  position: relative;
  width: 100%;
  float:left;
}

.post-new-btn input{
  bottom: -20px;
  right: 20px;
  position: absolute;
  margin-bottom: 20px;
  margin-right: 40px;
}
